ktor:
  deployment:
    port: ${PORT:8080}
    watch:
      - classes
  application:
    modules:
      - com.example.ApplicationKt.module

mongo:
  uri: "mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}/?authSource=admin"
  db: "chat_db"

jwt:
  secret: ${JWT_SECRET}
  issuer: ${JWT_ISSUER}
  audience: ${JWT_AUDIENCE}
  realm: ${JWT_REALM} 